{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
  <div class="column medium-12">
    <h1>Holt installé</h1>

    <ul ng-controller="TestController">
      <li>Intallation : <i class="fa fa-check"></i></li>
      <li>Connexion bdd : <i class="fa fa-{% if ok_db %}check{% else %}remove{% endif %}"></i></li>
      <li>Javascript/Angular : <i class="js-test fa" ng-class="ok_js"></i></li>

    </ul>
  </div>
</div>


{% endblock %}