<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Connexion</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ global.request.basepath }}/dist/css/admin.css" rel="stylesheet">

</head>

  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="{{ path('home') }}"><b>Holt</b>Admin</a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        {% if error and error == "Bad credentials" %}
          <div class="clearfix error">
            Identifiant et/ou mot de passe incorrect.
          </div>
        {% endif %}

        <form action="{{ path('admin_login_check') }}" method="post">
          <div class="form-group has-feedback">
            <input type="text" name="_username" class="form-control" placeholder="Identifiant" value="{{ last_username }}">
            <span class="fa fa-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" name="_password" class="form-control" placeholder="Mot de passe" value="">
            <span class="fa fa-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <!-- <div class="state icheckbox_flat-red"></div> -->
              <input type="checkbox" name="_rememberme" checked>
                  <label>Remember me</label>
            </div> 
            <!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Connexion</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <!-- .social-auth-links 
        
         <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
            Facebook</a>
          <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
            Google+</a>
        </div> 
        
        /.social-auth-links -->

        <!-- <a href="#">I forgot my password</a><br> -->
        <!-- <a href="register.html" class="text-center">Register a new membership</a> -->

      </div>
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->




  <script src="{{ global.request.basepath }}/dist/js/admin.min.js"></script>
  {% block javascript %}
  {% endblock %}
</body>
</html>
